/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(225, 100%, 98%);
}

section {
  max-width: 100vw;
  height: 100vh;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 380px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.13);
}

.card-content {
  padding: 40px;
}

.card .card_img-header img {
  width: 100%;
}

.card_plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 90px;
  background-color: hsl(225, 100%, 98%);
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 10px;
}

.card_texts h2 {
  margin-bottom: 20px;
  font-weight: 900;
}

.card_texts p {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  line-height: 1.7;
  margin-bottom: 10px;
}

.card_plan--img img {
  width: 90%;
  height: auto;
}

.card_plan--img {
  margin-right: 10px;
}

.card_plan--title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 2;
}

.card_plan--title h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card_plan--title p {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}

.card_plan--change a {
  font-size: 14px;
}

.card_plan--change a:hover,
.card_plan--change a:active {
  text-decoration: none;
  color: #a9a4e4;
}

.btn {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #766cf1;
}

.card_cancel {
  margin-top: 20px;
  color: hsl(228, 45%, 44%);
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
}

.card_cancel:hover,
.card_cancel:active {
  color: #716bc9;
}

@media (max-height: 680px), screen and (orientation: portrait) {
  section {
    padding: 20px;
  }

  .card {
    height: 85vh;
  }

  .card-content {
    padding: 20px;
  }

  .card_plan {
    width: 100%;
  }
}
